* {
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.slide-wrapper {
  overflow: hidden;
}
.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li {
  max-width: 800px;
  width: 80vw;
  flex-shrink: 0;
  margin: 0 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  transform: scale(0.9);
  transition: 0.3s;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  background: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  margin: 5px;
}
[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background: #e54;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
  flex-wrap: wrap;
}
.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}
.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.arrow-nav button{
  background: rgb(108, 16, 194);
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 16px 20px;
  transition: all 0.5s;
  border-radius: 4px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  color: #fff;
  display: inline-block;
  position: relative;
  font-size: 16px;
}

/*--elemento a ser mostrado pelo hover--*/
.arrow-nav button.prev:after,
.arrow-nav button.next:after {
  position: absolute;
  opacity: 0;
  top: 14.5px;
  transition: 0.5s;
}
.arrow-nav button.prev:after {
  content: "Prev";
  right: -10px;
}
.arrow-nav button.next:after {
  content: "Next";
  right: 0px;
}
/*-- redução de tamanho no button pelo hover--*/
.arrow-nav button.prev:hover{
  padding-right: 65px;
  padding-left: 18px;
}
.arrow-nav button.next:hover {
  padding-right: 18px;
  padding-left: 65px;
}
.arrow-nav button.prev:hover:after{
  opacity: 1;
  right: 12px;
}

.arrow-nav button.next:hover:after {
  opacity: 1;
  right: 42px;
}
